<div class="sidebar-item-inner">

		<div class="separator"></div>

		<button class="courses-sidebar-add-course action-primary">
			<span class="courses-sidebar-add-course-inner">{{t 'app.addnewproject'}}</span>
		</button>

		<div class="separator"></div>

		<div class="sidebar-row">

			<button class="course-filter" data-id="mine">
				<span class="course-filter-inner">
					<i class="fa fa-toggle-off fa-toggle-on"></i>
					My courses
				</span>
			</button>

			<button class="course-filter" data-id="shared">
				<span class="course-filter-inner">
					<i class="fa fa-toggle-off fa-toggle-on"></i>
					Shared courses
				</span>
			</button>

		</div>

		<div class="separator"></div>

    <div class="sidebar-search-tag">
        <div class="sidebar-row">
            <div class="sidebar-row-input input text">
                <input type="text" class="courses-sidebar-filter-input courses-sidebar-filter-search-input" placeholder="{{t 'app.searchbyname'}}"/>
                <button class="sidebar-filter-clear clear"><i class="fa fa-times"></i></button>
            </div>
        </div>

        <button class="courses-sidebar-add-tag sidebar-filter-button action-secondary">
            <span class="courses-sidebar-add-tag-inner">
                {{t 'app.searchbytag'}}
            </span>
        </button>
    </div>
</div>
